body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    color: darkblue;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: teal;
}
